.__pub_item{
	padding: 8px 16px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	.__inner_message{
		max-width: 70%;
		overflow: hidden;
		margin-left: 8px;
	}
	.__text_item{
		padding: 12px;
		border-radius: var(--border-radius-plus);
		border-top-left-radius: 0;
		background-color: var(--backgroud-default-color);
		border: 1px solid var(--border-default-color);
		p{
			word-break: break-all;
		}
	}
	&.__isMe{
		flex-direction: row-reverse;
		.__inner_message{
			margin-left: 0;
			margin-right: 8px;
		}
		.__text_item{
			border-top-left-radius: var(--border-radius-plus);
			border-top-right-radius: 0;
			background-color: var(--bubble-primary-color);
			border: 0 none;
			p{
				word-break: break-all;
				user-select: unset;
				-webkit-user-drag: unset;
			}
		}
	}
}
